body {
	display: flex;
	justify-content: center;
	font-weight: 900;
}

.container {
	color: #f1ebeb;
	width: 20em;
	height: 20em;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	background: linear-gradient(45deg, #8dedae, #bfd2b3, #799b85);
}

#time {
	font-size: 2.5em;
}
