body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font: 700 normal 1rem 'Noto Serif SC', serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 350px;
	min-width: 300px;
	height: 200px;
	min-height: 50px;
	border-radius: 15px;
	background-image: linear-gradient(
		to top,
		#febbcc,
		#ffc9c2,
		#ffdabe,
		#ffecc3,
		#feffd2
	);
}

#quote {
	color: #643843;
	font-size: 24px;
	max-width: 150px;
	display: none;
}

#logo {
	max-width: 40px;
	display: block;
}

#overlay-text {
	font-size: 24px;
	color: #643843;
}

#toggle-button {
	border: none;
	background: none;
	cursor: pointer;
	transition: transform 0.7s ease-in-out;
	color: #643843;
}

#toggle-button:hover {
	transform: rotate(360deg);
}
